/* You can add global styles to this file, and also import other style files */

.logo-icon {
    background-image: url("./images/dxc_logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 92%;
    width: 400px;
    height: 100px;
}
